<div class="container my-container">
    <div class="card justify-content-md-center">
        <div class="card-header text-center">
            <h3>S'inscrire</h3>
        </div>
       
        <div class="card-body">
            <form  #registerForm="ngForm"  (ngSubmit)="register()">
                
                <div class="mb-3">
                    <input type="text" 
                    name="nom" [(ngModel)]="user.nom"
                    id="nom" class="form-control" placeholder="Nom">
                    <div class="invalid-feedback">Le champs nom est requis</div>
                </div>
                <div class="mb-3">
                    <input type="text" [(ngModel)]="user.prenom"
                    name="prenom" #prenom="ngModel"
                    id="prenom"class="form-control" placeholder="Prénom">
                    <div class="invalid-feedback">Le champs prénom est requis</div>
                </div>
                <div class="mb-3">
                    <input type="text" [(ngModel)]="user.email"
                    name="email" #email="ngModel"
                    id="email" class="form-control" placeholder="Email">
                    <div class="invalid-feedback">L'email est requis</div>
                </div>
                <div class="mb-3">
                    <input type="text" [(ngModel)]="user.username"
                    name="username" #username="ngModel"
                    id="username" class="form-control" placeholder="Username">
                    <div class="invalid-feedback">Le username est requis</div>
                </div>
                <div class="mb-3">
                    <input type="password" [(ngModel)]="user.password"
                    name="password" #password="ngModel"
                    id="password" class="form-control" placeholder="Mot de passe">
                    <div class="invalid-feedback">Le mot de passe est requis</div>
                </div>
                <!--<div class="mb-3">
                    <input type="password" ngModel
                    name="password2"
                    id="password2" class="form-control" placeholder="Confirmer mot de passe">
                </div>-->
                <div class="mb-3 d-flex justify-content-between" >
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> &nbsp; S'inscrire</button>
                        Déjà inscrit?
                        <button type="button" (click)="seConnecter()"class="btn btn-light">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</div>
