<div class="container my-container">
    <div class="card justify-content-md-center">
        <div class="card-header text-center">
            <h3>S'inscrire</h3>
        </div>
       
        <div class="card-body">
            <form  [formGroup]="registerForm"  (ngSubmit)="register()">
                
                <div class="mb-3">
                    <input type="text" 
                    name="nom" formControlName="nom" [(ngModel)]="nom"
                    id="nom" class="form-control" placeholder="Nom">
                    
                    <span class="error" *ngIf="!nom && registerForm.touched">Le nom est requis!</span>
                    <span class="error" *ngIf=" containsNumbers(nom) && registerForm.touched ">Le nom ne doit pas contenir de chiffres!</span>
                </div>
                <div class="mb-3">
                    <input type="text" formControlName="prenom" [(ngModel)]="prenom"
                    name="prenom" 
                    id="prenom"class="form-control" placeholder="Prénom">
                    <span class="error" *ngIf="!prenom && registerForm.touched ">Le prénom est requis!</span>
                    <span class="error" *ngIf=" containsNumbers(prenom) && registerForm.touched ">Le prénom ne doit pas contenir de chiffres!</span>
                </div>
                <div class="mb-3">
                    <input type="text" formControlName="email" [(ngModel)]="email"
                    name="email" 
                    id="email" class="form-control" placeholder="Email">
                    <span class="error" *ngIf="!email && registerForm.touched ">L'email est requis!</span>
                    <span class="error" *ngIf=" !validEmail(email) && registerForm.touched ">Le format de l'email n'est pas correct!</span>
                </div>
                <div class="mb-3">
                    <input type="text" formControlName="username" [(ngModel)]="username"
                    name="username" 
                    id="username" class="form-control" placeholder="Username">
                    <span class="error" *ngIf="!username && registerForm.touched ">Le pseudo est requis!</span>
                    
                </div>
                <div class="mb-3">
                    <input type="password" formControlName="password" [(ngModel)]="password"
                    name="password" 
                    id="password" class="form-control" placeholder="Mot de passe">
                    <span class="error" *ngIf="!password && registerForm.touched ">Le mot de passe est requis!</span>
                </div>
                <div class="mb-3">
                    <input type="password" 
                    name="confirmpassword" formControlName="confirmpassword" [(ngModel)]="confirmpassword"
                    id="confirmpassword2" class="form-control" placeholder="Confirmer mot de passe">
                    <mat-hint align="start" *ngIf="password != confirmpassword && confirmpassword"> <strong class="error">Les mots de passe ne concordent pas!</strong></mat-hint>

                </div>
                <div class="mb-3 d-flex justify-content-between" >
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> &nbsp; S'inscrire</button>
                        Déjà inscrit?
                        <button type="button" (click)="seConnecter()"class="btn btn-light">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</div>
